doctype html
html
	head
		title= title
		link(rel="stylesheet" href="/stylesheets/style.css")
	body
		h1= title
		p Express stock photo application
		#photos
			each photo in photos
				.photo
					h1 #{photo.name}
					a(href="/photo/#{photo.id}/download")
						img(src="/images/#{photo.path}")
		form(action="/upload")
			p
				input(type="submit" value="upload")
				